<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base}">

<head>
	<title>レシピ登録</title>
</head>

<body>
	<div layout:fragment="content" class="container mt-4">

		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-5">

				<div class="card shadow-sm">
					<div class="card-body">

						<h3 class="card-title mb-4 text-center fw-bold">
							レシピ登録
						</h3>

						<div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}">
						</div>

						<form th:action="@{/recipes}" th:object="${recipeCreateDTO}" method="post">

							<!-- 商品名（新規入力） -->
							<div class="mb-3">
								<label class="form-label">商品名</label>
								<input type="text" class="form-control" placeholder="例：わかめ" th:field="*{productName}"
									th:classappend="${#fields.hasErrors('productName')} ? ' is-invalid'">

								<div class="invalid-feedback" th:errors="*{productName}">
								</div>
							</div>

							<!-- 原料名 + 必要数量 -->
							<div th:each="item, stat : *{items}" class="border rounded p-3 mb-3">

								<!-- 原料名 -->
								<label class="form-label">原料名</label>
								<select class="form-select" th:field="*{items[__${stat.index}__].materialId}"
									th:classappend="${#fields.hasErrors('items[' + stat.index + '].materialId')} ? ' is-invalid'">
									<option value="">選択してください</option>
									<option th:each="m : ${materials}" th:value="${m.id}" th:text="${m.materialName}">
									</option>
								</select>

								<div class="invalid-feedback d-block"
									th:errors="*{items[__${stat.index}__].materialId}">
								</div>

								<!-- 必要数量 -->
								<label class="form-label mt-2">必要数量</label>
								<input type="number" min="1" max="10" oninput="this.value = this.value.replace(/[^0-9]/g, '')"
									class="form-control" th:field="*{items[__${stat.index}__].requiredQuantity}"
									th:classappend="${#fields.hasErrors('items[' + stat.index + '].requiredQuantity')} ? ' is-invalid'">

								<div class="invalid-feedback d-block"
									th:errors="*{items[__${stat.index}__].requiredQuantity}">
								</div>

								<!-- 削除ボタン -->
								<button type="submit" th:formaction="@{/recipes(removeIndex=${stat.index})}"
									class="btn btn-sm btn-danger mt-2">
									削除
								</button>

							</div>

							<!-- 追加ボタン -->
							<button type="submit" formaction="/recipes?addItem" class="btn btn-outline-primary mt-2">
								＋ 原料追加
							</button>

							<!-- 登録ボタン -->
							<div class="d-flex justify-content-between mt-3">
								<a th:href="@{/recipes}" class="btn btn-outline-secondary">
									戻る
								</a>

								<button type="submit" class="btn btn-primary">
									登録
								</button>
							</div>

						</form>

					</div>
				</div>

			</div>
		</div>

	</div>
</body>

</html>